<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Fuel Quote Request | FuelQuote</title>

    <link
            rel="stylesheet"
            href="https://bootswatch.com/5/quartz/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">FuelQuote</a>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/request}">Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/requests}">History</a>
                </li>
            </ul>
            <ul class="nav navbar-nav" style="float: right;color: white">
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" th:alt="Logout">Log-out:
                    <span sec:authentication="principal.username"></span>
                    <i class="fa fa-user"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>

<div class="container">
    <div class="card border-success" style="max-width: 70rem; margin-right: auto;margin-left: auto;">
        <div class="card-header" style="text-align: center;font-size: 18px">Fuel Quote Request</div>
        <div class="card-body">

            <!-- success message -->
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully requested fuel quote!</div>
            </div>

            <h1>Fuel Quote Request</h1>

            <form th:action="@{/request}" method="post" th:object="${quote}">

                <div class="form-group">
                    <label class="control-label" for="requestedGallon"> Gallons to Request </label>
                    <input id="requestedGallon" class="form-control" onchange="updateTotal()"
                           th:field="*{requestedGallon}" type="number"
                           required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="deliveryAddress"> Delivery Address </label> <input
                        id="deliveryAddress" class="form-control"
                        required th:field="*{deliveryAddress}" autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="deliveryDate"> Full Name </label> <input
                        id="deliveryDate" class="form-control" th:field="*{{deliveryDate}}" type="date"
                        required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="pricePerGallon"> Price per Gallon </label> <input
                        id="pricePerGallon" class="form-control"
                        th:value="${quote.setPricePerGallon(100)}"
                        th:field="*{pricePerGallon}" readonly
                        autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="totalAmount"> Total </label> <input
                        id="totalAmount" class="form-control"
                        th:field="*{totalAmount}" readonly
                        autofocus="autofocus" />
                </div>

                <div class="form-group" style="text-align: center">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
<br>
<br>
<script type="text/javascript">
    function updateTotal(){
        var gallonPrice = parseInt(document.getElementById("pricePerGallon").value);
        var qty = parseInt(document.getElementById("requestedGallon").value);
        document.getElementById("totalAmount").value = gallonPrice * qty;
    }
</script>
</body>
</html>